.m-module {
    width: 100%;
    height: 505px;
    position: relative;
}

#show_pic {
    overflow: hidden;
    width: 100%;
    height: 505px;
    // position: absolute;
    // left: 50%;
    // margin-left: -960px;
}

#show_pic li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#show_pic li a {
    display: block;
}

#show_pic li .showImg {
    vertical-align: middle;
    display: inline-block;
    height: 505px;
    width: 1920px;
    position: absolute;
    left: -280px;
}

.m-module ol {
    position: absolute;
    left: 313px;
    bottom: 82px;
    display: flex;
    justify-content: space-around;
}

.m-module ol li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
}

.m-module ol .active {
    background-color: #ff1e32;
}

.m-module .prev {
    display: inline-block;
    width: 34px;
    height: 68px;
    position: absolute;
    left: 290px;
    top: 50%;
    margin-top: -34px;
    background-image: url(../../images/icon-精灵图.png);
    background-position: -625px -68px;
}

.m-module .next {
    display: inline-block;
    width: 34px;
    height: 68px;
    position: absolute;
    right: 290px;
    top: 50%;
    margin-top: -34px;
    background-image: url(../../images/icon-精灵图.png);
    background-position: -670px -67px;
}

.m-sellpoint {
    position: relative;
    z-index: 2;
    margin-top: -45px;
    margin-bottom: 20px;
    height: 45px;
    background-color: rgba(0, 0, 0, .3);
}

// 二级菜单
#menu {
    position: relative;
    z-index: 999;
}

#menu .catitmlst {
    z-index: 999;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    width: 164px;
    background: linear-gradient(90deg, red, #ff3264);
}

#menu .catitmlst li {
    padding-left: 10px;
    width: 151px;
    height: 41px;
    cursor: pointer;
    text-align: left;
    margin: 0 3px 0 2px;
    border-bottom: 1px solid #ff5160;
}

.catitmlst .icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 0 20px 0 4px;
}

.catitmlst .iconhv {
    display: none;
}

#menu .cartlist {
    transition: height .4s;
    position: absolute;
    z-index: 75;
    top: 40px;
    left: 164px;
    width: 930px;
    overflow: hidden;
    max-height: 459px;
    height: 459px;
    background: #fff;
    border: 1px solid #ff1a33;
    border-left-width: 0;
    text-align: left;
    color: #333;
    cursor: auto;
    display: none;
}

.item {
    padding: 20px;
    display: none;
    color: turquoise;
}

#menu .catitmlst li:hover {
    background-color: #fff;
    color: #ff1a32;
}

.catitmlst li:hover .icon {
    display: none;
}

.catitmlst li:hover .iconhv {
    display: inline-block;
}

// 二级菜单详情页